*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #E5E5E5;
    margin: 228px 24px 0px 24px;
}
.box1 {
    box-sizing: border-box;
    height: 72px;
    width: 100%;
    background-color: #0B2239;
    margin-bottom: 24px;
}
.title1 {
    display: inline-block;
    color: #FFFFFF;
    height: 40px;
    width: 55%;
    font-size: 13px;
    padding-left: 120px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 20px;
    margin: 0 auto;
}
.title2 {
    height: 36px;
    display: inline-block;
    font-size: 12px; 
    margin-left: 42px;
    margin-top: 26px;
    margin-bottom: 26px;
    color: #4AD295;
    text-decoration: underline;
}
.button1 {
    margin-left: 30px;
    display: inline-block;
    height: 36px;
    font-size: 13px;
    color:  #FFFFFF;
    background-color: #4AD295;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
}
.box2 {
    height: 52px;
    width: 100%;
    background-color: #2B2627;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.box2 a {
    color: #FFFFFF;
}
.box2 p {
    padding-left: 8px;
    padding-right: 20px;
}
.box3 {
    width: 560px;
    height: 72px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-top: 72px;
}
.box3 p {
    font-size: 14px;
    color: #0D0C22;
    width: 347px;
    height: 40px;
    padding-left: 20px;
    line-height: 20px;
    font-weight: 600;
}
.box3 a {
    color: #EA4C89;
}
.button2 {
    color: #0D0C22;
    background-color: gba (13, 12, 34, 0.05);
    border: none;
    width: 63px;
    height: 28px;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}
.button3 {
    color: #FFFFFF;
    background-color: #EA4C89;
    border: none;
    width: 52px;
    height: 28px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
}
.box4 {
    width: 560px;
    height: 64px;
    background-color: #26262B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 24px;
}
.box4 p {
    font-size: 12px;
    color: #FFFFFF;
    width: 469px;
    height: 40px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 4px;
    padding-right: 4px;
}
.box4 a {
    color: #E6842E;
}
.button4 {
    color: #26262B;
    background-color: #FFFFFF;
    border: none;
    width: 49px;
    height: 28px;
    border-radius: 8px;
    font-size: 12px;
}
.box5 {
    display: inline-block;
    width: 360px;
    height: 206px;
    background-color: #1C2540;
    border-radius: 6px;
    margin-top: 72px;
    padding-left: 24px;
    padding-top: 24px;
    color: #FFFFFF;
}
.box5 p {
    font-size: 14px;
    width: 312px;
    height: 80px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 4px;
    padding-right: 4px;
}
.box5 a{
    color: #FFFFFF;
}
.box5 p1 {
    font-size: 14px;
    width: 160px;
    height: 16px;
}
.button5 {
    font-size: 14px;
    width: 85px;
    height: 32px;
    background-color: #09B3AF;
    border-radius: 6px;
    margin-left: 67px;
    margin-top: 16px;
    color: #FFFFFF;
}
.box6 {
    display: inline-block;
    width: 360px;
    height: 170px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 80px;
    margin-left: 40px;
    padding-left: 16px;
    padding-top: 16px;
    margin-right: 300px;
    color: #687F8C;
}.box6 p {
    font-size: 14px;
    width: 328px;
    height: 60px;
    line-height: 20px;
    font-weight: 400;
}
.button6 {
    font-size: 14px;
    width: 160px;
    height: 32px;
    border-radius: 6px;
    background-color: #EAF0F4;
    color: #687F8C;
    margin-top: 16px;
    border: none;
}
.button7 {
    font-size: 14px;
    width: 160px;
    height: 32px;
    background-color:#40C1A7;
    border-radius: 6px;
    margin-left: 8px;
    margin-top: 16px;
    color: #FFFFFF;
    border: none;
}
.box7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 260px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 72px;
}
.box7 h2 {
    text-align: center;
    font-weight: 900;
    width: 104px;
    height: 48px;
    color: #15295A;
    font-size: 28;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 0px;
    margin-top: 0;
}
.box7 p {
    font-size: 16px;
    text-align: center;
    color: #15295A;
    width: 256px;
    height: 72px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 0px;
    margin-top: 0;
}
.button8 {
    font-size: 14px;
    width: 121px;
    height: 44px;
    background-color:#4A7EFF;
    border-radius: 43px;
    margin-top: 32px;
    color: #FFFFFF;
    border: none;
}
.box8 {
    display: inline-block;
    width: 320px;
    height: 137px;
    background-color:#FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 24px;
}
.box8 p {
    width: 100%;
    height: 60px;
    margin: 0 0 0 0;
    padding-top: 16px;
    padding-left: 16px;
    line-height: 20px;
    color: #000000;
}
.box8 p1 {
    width: 95px;
    height: 17px;
    color: #6666FF;
    padding-top: 20px;
    font-family: Sf Pro Text;
    font-weight: 500;
    padding-left: 16px;
}
.button9 {
    font-size: 14px;
    width: 64px;
    height: 33px;
    background-color:#6666FF;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    margin-left: 129px;
}